body {
    text-align: center;
}

.alertlink:hover {
    text-decoration: none;
    color: green
}

.alertlink {
    color: green;
}

.alertlinkr {
    color: red;
}

.alertlinkr:hover {
    color: red;
    text-decoration: none;
}

#mainformlogin {
    background-color: #fff;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

#mainbody {
    background-color: #f55a4c;
    
}

.circle-icon {
    background: rgb(250, 116, 103);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 9px;
}

.deletepostbutton, .editpostbutton {
    color:#fff;
    background-color: #f55a4c;
    float:left;
    margin-top: 10px;
    border:none;
}

.deletepostbutton:hover, .editpostbutton:hover {
    color:rgb(177, 175, 175);
 }

#maintitle {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
}

#mainsubmitbutton {
    margin-bottom: 30px; 
}

#mainsubmitbutton2 {
    margin-bottom: 20px; 
}

#mainkeyinput {
    text-align: center;
    width: 70%;
    display: inline-block;
}

#hometitle {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
}

#mainhome {
    background-color: #fff;
    margin-top: 7%;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

#pfpimage {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

#mainhomecard {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
